.mainWrapper {
  display: block;
  position: relative;
  padding: $distance-small 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.is-lock {
    overflow-y: hidden;
  }

  @include mq(md) {
    padding: $distance-big 0;
  }
}
