.sectionWrapper {
  display: block;
  position: relative;
  padding: 0 $distance-small;
  box-sizing: border-box;

  &.is-black {
    padding: $distance-small;
    color: $white;
    background-color: $black;

    .cell-corner {
      &.is-topLeft {
        border-top: 1px solid $white;
        border-left: 1px solid $white;
      }

      &.is-topRight {
        border-top: 1px solid $white;
        border-right: 1px solid $white;
      }

      &.is-bottomRight {
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
      }

      &.is-bottomLeft {
        border-bottom: 1px solid $white;
        border-left: 1px solid $white;
      }
    }

    & + .header {
      margin-top: 8px;
    }
  }

  &.is-fluor {
    padding: $distance-small;
    background-color: $fluor;

    & + .header {
      margin-top: 8px;
    }
  }

  & + .header {
    margin-top: 24px;
  }

  @include mq(md) {
    padding: 0 $distance-big;

    &.is-black,
    &.is-fluor {
      padding: $distance-big;

      & + .header {
        margin-top: 8px;
      }
    }

    & + .header {
      margin-top: 32px;
    }
  }
}
