.sectionWrapper {
  display: block;
  position: relative;
  padding: 0 $distance-small;
  box-sizing: border-box;

  &.is-black {
    padding: $distance-small;
    color: $white;
    background-color: $black;

    & + .header {
      margin-top: 8px;
    }
  }

  &.is-fluor {
    padding: $distance-small;
    background-color: $fluor;

    & + .header {
      margin-top: 8px;
    }
  }

  & + .header {
    margin-top: 24px;
  }

  @include mq(md) {
    padding: 0 $distance-big;

    &.is-black,
    &.is-fluor {
      padding: $distance-big;

      & + .header {
        margin-top: 16px;
      }
    }

    & + .header {
      margin-top: 32px;
    }
  }

  @include mq(xxl) {
    &.is-black,
    &.is-fluor {
      & + .header {
        margin-top: 32px;
      }
    }

    & + .header {
      margin-top: 48px;
    }
  }
}
