// ------------------------------------
// $BASE
// ------------------------------------

// Global
* {
  box-sizing: border-box;
}

html {
  font-size: $font-base;
}

body {
  @extend %body-typo;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  color: $black;
  background-color: $white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Content
iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
  }
}

address {
  font-style: normal;

  & .heading {
    font-weight: 700;
  }
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.notes,
.button,
.tiny,
.hero,
.heading {
  display: block;
  position: relative;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.h1 {
  @extend %h1-typo;
}

.h2 {
  @extend %h2-typo;
}

.h3 {
  @extend %h3-typo;
}

.h4 {
  @extend %h4-typo;
}

.h5 {
  @extend %h5-typo;
}

.p {
  display: block;
  position: relative;
  @extend %p-typo;
}

.menu {
  display: block;
  position: relative;
  text-transform: uppercase;
  transition: letter-spacing $transform-short;
  width: 6.875rem;
  text-align: center;

  &:hover {
    letter-spacing: 0.05rem;
  }
  &.menuDesktop-claim {
    width: 12.5rem;
  }
}

.notes {
  @extend %notes-typo;
}

.button {
  @extend %button-typo;
}

.tiny {
  @extend %tiny-typo;
}

.fact-text {
  @extend %fact-typo;
}

.line {
  display: block;
  position: relative;
  box-sizing: border-box;

  &.has-tab {
    padding-left: 1.5rem;
  }
}

.blurableWrapper {
  display: block;
  position: relative;
  filter: blur(0px);
  transition: filter $fade-short $fade-short;
}

.scrambleTextWrapper {
  display: block;
  position: relative;
}

.scrambleText {
  pointer-events: none;

  .line {
    opacity: 0;
    @include mq(md) {
      white-space: nowrap;
    }
    @media (prefers-reduced-motion: reduce) {
      opacity: 1;
    }
  }

  .line.has-wrap {
    white-space: normal;
  }

  &.is-cloned {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: all;
  }
}

.bracketHover {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  transition: padding $transform-short;
}

@include mq(md) {
  .h1,
  .h2,
  .h3,
  .notes {
    letter-spacing: -0.02rem;
  }

  .line.has-tab {
    padding-left: 2rem;
  }
}

@include mq(xl) {
  .line.has-tab {
    padding-left: 3rem;
  }
}

img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
