// ------------------------------------
// $BASE
// ------------------------------------

// Global
* {
  box-sizing: border-box;
}

html {
  font-size: $font-base;
}

body {
  @include typo-rwd(body);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Content
iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.notes,
.button {
  display: block;
  position: relative;
  text-transform: uppercase;
}

.h1 {
  @include typo-rwd(h1);
}

.h2 {
  @include typo-rwd(h2);
}

.h3 {
  @include typo-rwd(h3);
}

.h4 {
  @include typo-rwd(h4);
}

.h5 {
  @include typo-rwd(h5);
}

.p {
  display: block;
  position: relative;
  @include typo-rwd(p);
}

.menu {
  display: block;
  position: relative;
  @include typo-rwd(menu);
}

.notes {
  @include typo-rwd(notes);
}

.button {
  @include typo-rwd(button);
}

.tiny {
  display: block;
  position: relative;
  @include typo-rwd(tiny);
}

@include mq(md) {
  .h1,
  .h2,
  .h3,
  .notes {
    letter-spacing: -0.02rem;
  }

  .h4 {
    text-transform: none;
  }
}
