.coursesList {
  display: block;
  position: relative;

  &-title {
    display: block;
    position: relative;

    & + .coursesList-list {
      margin-top: 24px;
      padding-left: 72px;
    }
  }

  &-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
  }

  &-list li {
    display: inline-block;
    position: relative;

    html:not(.is-mobile) &:hover {
      .coursesList-linkTextWrapper svg {
        transform: translateX(0);
      }

      .coursesList-linkText {
        transform: translateX(52px);
      }
    }

    & + li {
      margin-top: 8px;
    }
  }

  &-link {
    display: flex;
    align-items: flex-start;
  }

  &-linkNumber {
    display: block;
    position: relative;
    width: 42px;
  }

  &-linkTextWrapper {
    display: block;
    position: relative;
    margin-left: 16px;
    padding-right: 52px;
    overflow: hidden;
  }

  &-linkTextWrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 34px;
    transform: translateX(-100%);
    transition: transform $transform-short;

    path {
      stroke: $fluor;
    }
  }

  &-linkText {
    display: block;
    position: relative;
    transform: translateX(0);
    transition: transform $transform-short;
  }

  @include mq(md) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;

    &-title {
      display: none;
    }

    &-title + .coursesList-list {
      margin-top: 0;
      padding-left: 0;
    }

    &-list li {
      html:not(.is-mobile) &:hover .coursesList-linkText {
        transform: translateX(64px);
      }
    }

    &-linkNumber {
      width: 58px;
    }

    &-linkTextWrapper {
      margin-left: 32px;
      padding-right: 64px;
    }

    &-linkTextWrapper svg {
      height: 44px;
    }
  }

  @include mq(xl) {
    &-list li {
      html:not(.is-mobile) &:hover .coursesList-linkText {
        transform: translateX(130px);
      }
    }

    &-linkNumber {
      width: 106px;
    }

    &-linkTextWrapper {
      margin-left: 56px;
      padding-right: 130px;
    }

    &-linkTextWrapper svg {
      height: 84px;
    }
  }
}
