.menuMobile {
  display: block;
  position: sticky;
  padding: 0 $distance-small + 1px;
  top: 0;
  width: 100%;
  height: auto;
  color: $black;
  z-index: $index-menu;

  & + .header {
    margin-top: 32px;
  }

  &.is-black {
    color: $white;

    &::before {
      background-color: $black;
    }
  }

  &.is-fluor::before {
    background-color: $fluor;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -$distance-small;
    right: -$distance-small;
    bottom: 0;
    left: -$distance-small;
    background-color: $white;
    transition: background-color $fade-simple;
  }

  .cell {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-button {
    font-size: 1.125rem;
  }
}
