.menuDesktop {
  display: block;
  position: sticky;
  top: 0;
  margin: 0 1px;
  padding: 0 $distance-big;
  color: $black;
  filter: blur(0px);
  transition: filter $fade-short $fade-short;
  z-index: $index-menu;

  & + .blurableWrapper {
    margin-top: 32px;
  }

  &.is-black {
    color: $white;

    &::before {
      background-color: $black;
    }
  }

  &.is-fluor::before {
    background-color: $fluor;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -$distance-big;
    right: -$distance-big;
    bottom: 0;
    left: -$distance-big;
    background-color: $white;
    transition: background-color $fade-simple;
  }

  .cell {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
