.courseSections {
  padding: 0;
  height: 70vh;
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100vh - 28px - (#{$distance-big} * 2));
    padding-right: $distance-big;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .sectionWrapper {
    height: calc(100vh - 80px);
  }
  .p {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
.courseTitle-header {
  position: fixed;
  top: 10px;
  font-size: 1.6rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-transform: uppercase;
  &.is-visible {
    opacity: 1;
  }
}
