.menuDesktop {
  display: block;
  position: sticky;
  top: 0;
  margin: 0 1px;
  padding: $distance-big $distance-big 0 $distance-big;
  color: $black;
  filter: blur(0px);
  backdrop-filter: $blur-value;
  transition: color $fade-simple, filter $fade-short $fade-short;
  z-index: $index-menu;

  & + .blurableWrapper {
    margin-top: 32px;
  }

  &.is-black {
    color: $white;
  }

  .cell {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-button {
    html:not(.is-mobile) &:hover .braketHover {
      padding: 0 4px;
    }
  }

  @include mq(lg) {
    .cell {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
