.loading {
  display: flex;
  align-items: center;
  padding: 0 $distance-small;
  color: $black;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: rem(10px);
  @include mq(md) {
    padding: 0 $distance-big;
    bottom: rem(32px);
  }

  &-numberWrap {
    flex: 1;
  }
}
