.mainButton {
  display: inline-block;
  position: relative;
  padding: 14px 16px;
  width: auto;
  height: 40px;
  color: $black;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 60px;
  box-sizing: border-box;
  transition: color $fade-short, background-color $fade-short,
    border $fade-short;

  html:not(.is-mobile) &:hover {
    color: $black;
    background-color: $fluor;
    border: 1px solid $black;
  }

  html:not(.is-mobile) &.is-fluor:hover {
    color: $fluor;
    background-color: $black;
    border: 1px solid $black;
  }

  &.is-full {
    min-width: 100%;
  }

  &.is-fluor {
    color: $black;
    background-color: $fluor;
    border: 1px solid $black;
  }

  &.is-negative {
    color: $white;
    background-color: $black;
    border: 1px solid $white;
  }

  &-text {
    text-align: center;
  }
}
