.datePicker {
  display: block;
  position: relative;
  width: 100%;

  &-date {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    padding: 0 48px;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
  }

  &-dateText {
    display: block;
    position: relative;

    & + .datePicker-dateText {
      margin-left: 8px;
    }
  }

  &-arrows {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: all;

    svg {
      width: 24px;
      height: auto;

      &:last-child {
        transform: rotate(180deg);
      }
    }
  }

  &-carousel {
    display: block;
    position: relative;
    margin-top: 32px;
    width: 100%;
  }

  &-courseWrapper {
    display: block;
    position: relative;

    & + .datePicker-courseWrapper {
      margin-top: 32px;
    }
  }

  &-course {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
  }

  &-courseTitle {
    display: block;
    position: relative;
    margin-left: 8px;
  }

  &-courseDates {
    flex: 1;
    display: block;
    position: relative;
    margin-right: 8px;
    text-align: right;

    .notes {
      line-height: 0.75rem;
    }
  }

  .mainButton {
    margin-top: 16px;
    width: 100%;
  }

  @include mq(md) {
    &-date {
      display: block;
      padding: 0;
      padding-right: 40px;
      min-height: 72px;
    }

    &-dateText + .datePicker-dateText {
      margin-left: 0;
    }

    &-arrows {
      display: block;
      top: 0;
      right: 0;
      width: auto;
      transform: none;
    }

    &-arrows svg {
      display: block;
      position: relative;
      width: 32px;

      &:last-child {
        margin-top: 8px;
      }
    }

    &-courseWrapper {
      display: flex;

      & + .datePicker-courseWrapper {
        margin-top: 24px;
      }
    }

    &-course {
      flex: 1;
    }

    &-courseDates .notes {
      line-height: 1.25rem;
    }

    .mainButton {
      margin-top: 0;
      margin-left: 24px;
      min-width: 240px;
      width: auto;
    }
  }

  @include mq(xl) {
    &-date {
      min-height: 88px;
    }
    &-arrows svg {
      width: 40px;
    }
  }
}
