.cookiesLayer {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  background-color: $black;
  color: $white;
  box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(100%);
  transition: $fade-simple, $transform-short;
  z-index: 24;
  @include mq(md) {
    right: 2rem;
    bottom: 2rem;
    max-width: 25rem;
  }

  .is-black & {
    background-color: $white;
    color: $black;
    .mainButton {
      color: #eaeaea;
      background-color: #000000;
      border: 1px solid #eaeaea;
      &.is-negative {
        color: #000000;
        background-color: #eaeaea;
        border: 1px solid #000000;
        &:hover {
          background-color: #e2f754;
        }
      }
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  &-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Monument Grotesk';
    text-transform: uppercase;
  }
  .p {
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 0.84rem;
  }

  &-controls {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: 1rem;

    @include mq(lg) {
      margin-top: 1.5rem;
    }
  }

  &-link {
    font-weight: 600;
    text-decoration: underline;
  }
}
