.error {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &-content {
    flex: 1;
  }
  &-text {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-transform: uppercase;

    span {
      margin-top: -5%;

      & + span {
        margin-top: -10%;
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: $white;
  }

  &-arrow {
    width: 100%;
    height: 100%;
    max-width: 84px;
    max-height: 84px;
  }

  &-buttonWrap {
    grid-area: 2 / 4 / 3 / 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
  }

  @include mq(md) {
    min-height: calc(100% - 104px);
  }
}
