.input {
  $self: &;
  display: block;
  position: relative;
  width: 100%;
  height: auto;

  &-field {
    @extend %p-typo;
    display: block;
    position: relative;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    color: $black;
    background-color: transparent;
    border: 0;
    border-bottom: 1px dotted $black;
    transition: color $fade-simple, border $fade-simple;
    box-sizing: border-box;

    .is-rounded & {
      @extend %notes-typo;
      padding: 1rem 4rem 1rem 2rem;
      border: 1px solid $black;
      border-radius: 3.75rem;
      outline: none;
    }

    .is-uppercase & {
      text-transform: uppercase;
    }
  
    &::placeholder {
      color: $black;
      transition: color $fade-simple;
    }
  }

  &-submit {
    display: block;
    position: absolute;
    top: 1.0625rem;
    right: 1.5rem;
    width: 1rem;
    height: auto;
    transform: rotate(45deg);

    path {
      fill: $black;
      transition: fill $fade-simple;
    }
  }

  &.is-negative {
    #{$self}-field {
      color: $white;
      border-bottom-color: $white;
      outline: none;

      &::placeholder {
        color: $white;
      }
    }
  }

  @include mq(md) {
    &.rounded .input-field {
      padding: 1rem 4.5rem 1rem 2rem;
    }

    &-submit {
      width: 1.5rem;
    }
  }
}
