.radio {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;

  &-input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

    .is-black &:checked + .radio-icon,
    .menuLayer &:checked + .radio-icon,
    .is-black &:checked + .radio-icon + .radio-label,
    .menuLayer &:checked + .radio-icon + .radio-label {
      color: $fluor;
    }

    &:checked + .radio-icon .radio-iconCheck {
      opacity: 1;
    }
  }

  &-icon {
    display: block;
    position: relative;
    margin-right: 1rem;
    transition: color $fade-short;
  }

  &-iconCheck {
    opacity: 0;
    transition: opacity $fade-short;
  }
}
