.input {
  $self: &;
  display: block;
  position: relative;
  width: 100%;
  height: auto;

  &.has-submit .input-field {
    padding: 16px 64px 16px 32px;
    @include typo-rwd(notes);
    text-transform: uppercase;
    border: 1px solid $black;
    border-radius: 60px;
    outline: none;
  }

  &-field {
    display: block;
    position: relative;
    margin: 0;
    padding: 16px 0;
    width: 100%;
    @include typo-rwd(p);
    color: $black;
    background-color: transparent;
    border: 0;
    border-bottom: 1px dotted $black;
    transition: color $fade-simple, border $fade-simple;
    box-sizing: border-box;

    &::placeholder {
      color: $black;
      transition: color $fade-simple;
    }
  }

  &-submit {
    display: block;
    position: absolute;
    top: 17px;
    right: 24px;
    width: 16px;
    height: auto;
    transform: rotate(45deg);

    path {
      fill: $black;
      transition: fill $fade-simple;
    }
  }

  &.is-negative {
    #{$self}-field {
      color: $white;
      border-bottom-color: $white;
      outline: none;

      &::placeholder {
        color: $white;
      }
    }
  }

  @include mq(md) {
    &.has-submit .input-field {
      padding: 16px 72px 16px 32px;
    }

    &-submit {
      width: 24px;
    }
  }
}
