.radio {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;

  &-input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

    &:checked + .radio-icon,
    &:checked + .radio-icon + .radio-label {
      color: $fluor;
    }

    &:checked + .radio-icon .radio-iconCheck {
      opacity: 1;
    }
  }

  &-icon {
    display: block;
    position: relative;
    margin-right: 16px;
    transition: color $fade-short;
  }

  &-iconCheck {
    opacity: 0;
    transition: opacity $fade-short;
  }
}
