.bwfilter {
  filter: grayscale(100%);
}

.sectionWrapper.courses {
  .p {
    margin-top: 16px;
    max-width: 380px;
  }

  .mainButton {
    margin-top: 40px;
  }

  .coursesList-list {
    margin-top: 120px;
  }
}

.sectionWrapper.custom,
.sectionWrapper.find {
  &.is-black .icon path {
    fill: $white;
  }

  .icon {
    display: block;
    position: relative;
    left: 100%;
    width: auto;
    height: 32px;
    transform: translateX(-100%);

    path {
      fill: $black;
      transition: fill $fade-simple;
    }
  }

  .notes {
    margin-top: 104px;
    cursor: pointer;
  }

  .mainButton {
    margin-top: 104px;
  }
}

.sectionWrapper.featured .mainButton {
  margin-top: 232px;
}

.sectionWrapper.companies {
  .mainButton {
    margin-top: 232px;
  }

  .cell:last-child {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 56px 10px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.companies-logoWrapper {
  display: block;
  position: relative;
  flex: 0 0 calc(50% - 10px);
  height: auto;
  text-align: center;

  &-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 120px;
    height: 24px;
  }

  .icon {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
}

.sectionWrapper.footer {
  &.is-black .input {
    .input-field {
      color: $white;
      border: 1px solid $white;

      &::placeholder {
        color: $white;
      }
    }

    .input-submit path {
      fill: $white;
    }
  }

  .row.is-half {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;

    .cell:first-child {
      width: 50%;
    }

    .cell:nth-child(2) {
      margin-top: 0;
      margin-left: 1px;
      width: calc(50% - 1px);
    }

    .cell:nth-child(3) {
      display: none;
    }
  }

  .footer-formBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;

    & + .footer-formBlock {
      margin-top: 24px;
    }
  }

  .radio {
    margin-left: 24px;
  }

  .footer-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16px;
  }

  .footer-list li {
    & + li {
      margin-top: 6px;
    }

    .h4 {
      text-transform: uppercase;
    }
  }

  a {
    transition: color $fade-short;

    html:not(.is-mobile) &:hover {
      color: $fluor;
    }
  }

  .button {
    margin-top: 16px;
  }

  .logo {
    display: block;
    position: relative;
    margin-top: 56px;
    font-size: calc(59px + (560 - 59) * ((100vw - 320px) / (2560 - 320)));
    line-height: 1;
    text-transform: uppercase;
  }
}

@include mq(sm) {
  .sectionWrapper.companies {
    .cell:last-child {
      column-gap: 32px;
    }

    .companies-logoWrapper {
      flex-basis: calc(33.33% - 32px);
    }
  }
}

@include mq(md) {
  .sectionWrapper.featured .mainButton {
    margin-top: 0;
  }

  .sectionWrapper.courses {
    .p {
      margin-top: 32px;
    }

    .mainButton {
      margin-top: 88px;
    }

    .coursesList-list {
      justify-content: flex-end;
      margin-top: 0;
      height: 100%;
    }
  }

  .sectionWrapper.calendar .cell.has-gap {
    justify-content: flex-end;
  }

  .sectionWrapper.custom,
  .sectionWrapper.find {
    .icon {
      height: 48px;
    }

    .mainButton {
      margin-top: 208px;
    }
  }

  .sectionWrapper.companies {
    .cell:last-child {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  .sectionWrapper.footer {
    .row.is-half {
      flex-wrap: nowrap;
    }

    .row.is-half .cell,
    .row.is-half .cell:first-child,
    .row.is-half .cell:nth-child(2) {
      width: 33.33%;
    }

    .row.is-half .cell:nth-child(2) {
      width: 33.33%;
    }

    .footer-formBlock + .footer-formBlock {
      margin-top: 40px;
    }

    .logo {
      margin-top: 72px;
    }
  }
}

@include mq(lg) {
  .sectionWrapper.footer {
    .row.is-half .cell,
    .row.is-half .cell:first-child,
    .row.is-half .cell:nth-child(2) {
      width: 25%;
    }

    .row.is-half .cell:nth-child(3) {
      display: block;
    }

    .logo {
      margin-top: 148px;
    }
  }
}

@include mq(xl) {
  .sectionWrapper.custom .icon,
  .sectionWrapper.find .icon {
    height: 80px;
  }

  .sectionWrapper.find .notes {
    margin-top: 220px;
  }

  .sectionWrapper.companies {
    .cell:last-child {
      padding-top: 56px;
      padding-bottom: 56px;
      column-gap: 64px;
      row-gap: 156px;

      .companies-logoWrapper {
        flex: 0 0 calc(33.33% - 64px);
      }
    }
  }

  .companies-logoWrapper-container {
    width: 156px;
    height: 48px;
  }
}
