.sectionWrapper.manifest .p {
  margin-top: 96px;
}

.sectionWrapper.courses {
  .p {
    margin-top: 16px;
    max-width: 380px;
  }

  .mainButton {
    margin-top: 40px;
  }

  .coursesList-list {
    margin-top: 120px;
  }
}

.sectionWrapper.custom {
  svg {
    display: block;
    position: relative;
    left: 100%;
    width: auto;
    height: 32px;
    transform: translateX(-100%);
  }

  .p {
    margin-top: 104px;
  }

  .mainButton {
    margin-top: 104px;
  }
}

.sectionWrapper.featured .mainButton {
  margin-top: 232px;
}

.sectionWrapper.featured .mainButton {
  margin-top: 232px;
}

@include mq(md) {
  .sectionWrapper.manifest .p {
    margin-top: 0;
  }

  .sectionWrapper.featured .mainButton {
    margin-top: 0;
  }

  .sectionWrapper.courses {
    .p {
      margin-top: 32px;
    }

    .mainButton {
      margin-top: 88px;
    }

    .coursesList-list {
      justify-content: flex-end;
      margin-top: 0;
      height: 100%;
    }
  }

  .sectionWrapper.custom {
    svg {
      height: 48px;
    }

    .p {
      margin-top: 0;
    }
    .mainButton {
      margin-top: 208px;
    }
  }
}

@include mq(xl) {
  .sectionWrapper.custom svg {
    height: 80px;
  }
}
