.row {
  display: block;
  position: relative;
  padding: 1px;
  box-sizing: border-box;

  & + .row {
    margin-top: -1px;
  }

  &.is-full,
  &.is-half,
  &.is-third,
  &.is-quarter {
    .cell {
      width: 100%;
    }

    .cell + .cell {
      margin-top: 1px;
    }
  }

  .cell.is-column {
    .cell {
      min-width: 100%;
    }

    .cell + .cell {
      margin-top: 1px;
      margin-left: 0;
    }
  }

  @include mq(md) {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;

    &.is-full {
      flex-wrap: wrap;
    }

    &.is-half,
    &.is-third,
    &.is-quarter {
      .cell {
        width: 50%;
      }

      .cell + .cell {
        margin-top: 0;
        margin-left: 1px;
      }
    }
  }

  @include mq(lg) {
    &.is-third,
    &.is-quarter {
      .cell:first-child {
        width: 33.33%;
      }

      .cell:last-child {
        width: 66.66%;
      }
    }
  }

  @include mq(xl) {
    &.is-third {
      .cell:first-child {
        width: 42.5%;
      }

      .cell:last-child {
        width: 57.5%;
      }
    }
  }
}
