.fact {
  display: block;
  position: relative;

  &-content {
    display: flex;
  }

  &-arrow {
    margin-right: 22px;

    .icon {
      width: 42px;
      height: 42px;
    }
  }

  &-text {
    display: block;
    position: relative;
    margin-top: 6px;
  }

  @include mq(md) {
    &-content {
      padding: 20px;
    }
  }

  @include mq(xl) {
    &-content {
      padding: 40px 50px 40px 30px;
    }

    &-arrow {
      margin-right: 42px;
      .icon {
        width: 78px;
        height: 78px;
      }
    }
  }
}
