// ------------------------------------
// $VARIABLES
// ------------------------------------

// Colors
$black: #000000;
$white: #eaeaea;
$fluor: #e2f754;

// Index
$index-menu: 10;

// Fonts
$font-base: 16;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 900;

// Layout
$layout-maxWidth: 975px;
$distance-small: 16px;
$distance-big: 24px;

// Breakpoints
$grid-breakpoints: (
  xs: 0px,
  sm: 667px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px,
);

// Transitions
$fade-simple: 0.6s;
