// font-face
// @include font-face('Gotham', 'GothaHTFLig', 200);
@mixin font-face-modern(
  $font-family,
  $font-filename,
  $font-weight: normal,
  $font-style: normal,
  $font-stretch: normal
) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../fonts/#{$font-filename}.woff') format('woff'),
      url('../fonts/#{$font-filename}.woff2') format('woff2');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}
@include font-face-modern('Monument Grotesk', 'MonumentGrotesk-Regular', 400);
@include font-face-modern(
  'Monument Grotesk Mono',
  'MonumentGrotesk-Semi-Mono',
  400
);

$monument-grotesk: 'Monument Grotesk';
$monument-grotesk-mono: 'Monument Grotesk Mono';

$font-families: (
  monument-grotesk: $monument-grotesk,
  monument-grotesk-mono: $monument-grotesk-mono,
);

$typography: (
  body: (
    format: (
      xs: (
        ff: monument-grotesk,
        fz: 16px,
        fw: $regular,
        lh: normal,
      ),
    ),
  ),
  button: (
    format: (
      xs: (
        ff: monument-grotesk-mono,
        fz: 0.75rem,
        fw: $regular,
        lh: 0.75rem,
      ),
    ),
  ),
  h1: (
    format: (
      xs: (
        ff: monument-grotesk,
        fz: 2.25rem,
        fw: $regular,
        lh: 2.125rem,
      ),
      md: (
        fz: 3.25rem,
        lh: 2.75rem,
      ),
      xl: (
        fz: 6rem,
        lh: 5.25rem,
      ),
      xxl: (
        fz: 6.25rem,
        lh: 5.5rem,
      ),
    ),
  ),
  h2: (
    format: (
      xs: (
        ff: monument-grotesk,
        fz: 2rem,
        fw: $regular,
        lh: 1.75rem,
      ),
      md: (
        fz: 2.5rem,
        lh: 2.25rem,
      ),
      xl: (
        fz: 3.75rem,
        lh: 3.5rem,
      ),
    ),
  ),
  h3: (
    format: (
      xs: (
        ff: monument-grotesk,
        fz: 1.5rem,
        fw: $regular,
        lh: 1.375rem,
      ),
      md: (
        fz: 2rem,
        lh: 1.75rem,
      ),
      xl: (
        fz: 3.25rem,
        lh: 3rem,
      ),
    ),
  ),
  h4: (
    format: (
      xs: (
        ff: monument-grotesk,
        fz: 1rem,
        fw: $regular,
        lh: 1.25rem,
      ),
      md: (
        fz: 2rem,
        lh: 1.75rem,
      ),
    ),
  ),
  h5: (
    format: (
      xs: (
        ff: monument-grotesk,
        fz: 1.5rem,
        fw: $regular,
        lh: 1.75rem,
      ),
    ),
  ),
  menu: (
    format: (
      xs: (
        ff: monument-grotesk,
        fz: 1rem,
        fw: $regular,
        lh: 1.25rem,
      ),
    ),
  ),
  notes: (
    format: (
      xs: (
        ff: monument-grotesk-mono,
        fz: 0.75rem,
        fw: $regular,
        lh: 0.75rem,
      ),
      md: (
        fz: 1.25rem,
        lh: 1.625rem,
      ),
    ),
  ),
  p: (
    format: (
      xs: (
        ff: monument-grotesk-mono,
        fz: 0.75rem,
        fw: $regular,
        lh: 1rem,
      ),
      md: (
        fz: 0.875rem,
        fw: $regular,
        lh: 1.125rem,
      ),
    ),
  ),
  tiny: (
    format: (
      xs: (
        ff: monument-grotesk-mono,
        fz: 0.5rem,
        fw: $regular,
        lh: 0.5rem,
      ),
      md: (
        fz: 0.5625rem,
        lh: 0.5625rem,
      ),
    ),
  ),
  fact: (
    format: (
      xs: (
        ff: monument-grotesk-mono,
        fz: 0.75rem,
        fw: $regular,
        lh: 1rem,
      ),
      md: (
        fz: 1.125rem,
        lh: 1.25rem,
      ),
    ),
  ),
);
